h1{
color:deepskyblue
}

p{
    font-size: 16px
}

.highlight {
    background-color: yellow;
}

#main-title{
color:blueviolet
}

#special-paragraph{
    font-style: italic
}

div{
    background-color:lightcyan
}

ul{
    font-style: oblique;
}

li{
    color:darkcyan
}